<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.panxiang.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.panxiang.domain.User">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="pwd" property="pwd" />
        <result column="email" property="email" />
    </resultMap>

    <parameterMap id="User" type="com.panxiang.domain.User"/>

    <sql id="Base_Column_List">
        id, name, pwd, email
    </sql>

    <select id="getUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from tb_user
        where name = #{name}
    </select>

</mapper>
